# Laravel
/vendor/
node_modules/
.env
.env.*.backup
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/*
bootstrap/cache/*

# Keep your JSON data in Git
!storage/app/data/
!storage/app/data/sdg/**

# OS/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
